@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

normalText{
  color:lighten($white,25);
  text-align:center;

}

h1 {
  @extend normalText;
  font-size: 2.2rem;
  margin-top:1rem;
  color: lighten($white, 25);
}
h3{
  @extend normalText;
  margin-top:1rem;
  word-spacing: 1rem;

}
.header{
  color:black;
}

h2{
  @extend normalText;

}



.movieContents{
  background:grey;

}


.thumb {
  background-clip:content-box;
  padding-bottom:3rem;
  img{
    height: 135px;
    width: 100px;
  }
  .listText{
    text-align:center;
    a{color:white;}
  
  
  }
  background-color: #3DA6A2 ;
}


.searchBox{
  width: 100%;
  height: 2rem;


}


.repeated-item.ng-enter, .repeated-item.ng-move {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}


.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity:1;
}


.repeated-item.ng-leave {
  -webkit-animation:0.5s my_animation;
  -moz-animation:0.5s my_animation;
  -o-animation:0.5s my_animation;
  animation:0.5s my_animation;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

