<br><br><br><br>
<div class="row movieContents">
  <div class="small-12 large-12 columns">
    <div class="small-6 medium-6 large-6 columns">
      <img ng-src="/data/images/{{test1.imdbID}}.jpg">
    </div>
    <button ng-click='previous()'><h2>previous</h2></button>
    <button ng-click='next()'><h2>next</h2></button>
    <div class="small-12 medium-6 large-6 columns">
      <h1>{{test1.title}}</h1><br>
      <h2>{{test1.director[0]}}</h2><br>
      <h2>{{test1.actors[0]}}</h2><br>
      <h2>{{test1.plot}}</h2><br>
      <h2>{{test1.awards}}</h2><br>
    </div>
  </div>
</div>


